@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

// header account center buttons:
.button-login {
  padding: 1rem 2rem;
  white-space: nowrap;
  border: $primary-btn-border;
  border-radius: $primary-btn-border-radius;
  color: $primary-txt-color;
  font-family: "Oswald-Regular";
  font-size: clamp-rem(1rem, 2rem);
  transition: all 0.3s ease;
  &:hover {
    background-color: $primary-btn-bg-color;
  }
}

// Signup form buttons:
.step-btn {
  border-radius: 5rem;
  padding: 1.5rem 3.5rem;
  background: transparent;
  color: $btn-txt-color;
  text-decoration: underline;
  transition: all 0.3s ease;
  &:hover {
    background-color: $account-btn-bg-color;
    color: $primary-txt-color;
    text-decoration: none;
  }
}
