@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

// header account center buttons:
.button-login {
  padding: 1rem 2rem;
  white-space: nowrap;
  border: $primary-btn-border;
  border-radius: $primary-btn-border-radius;
  color: $primary-txt-color;
  font-family: "Oswald-Regular";
  font-size: clamp-rem(1rem, 2rem);
  transition: all 0.3s ease;
  &:hover {
    background-color: $primary-btn-bg-color;
  }
}

// Signup form buttons:
.step-btn {
  border-radius: 5rem;
  padding: 1.5rem 3.5rem;
  background: transparent;
  color: $btn-txt-color;
  text-decoration: underline;
  transition: all 0.3s ease;
  &:hover {
    background-color: $account-btn-bg-color;
    color: $primary-txt-color;
    text-decoration: none;
  }
}
// fdb bonuses cards button:
.fdb-cta,
.cta {
  width: 100%;
  padding: 0.8rem 6.9rem;
  color: $primary-txt-color;
  background-color: $primary-btn-bg-color;
  cursor: pointer;
  border-radius: 2rem;
  font-family: "Oswald-Medium";
  font-size: 1.8rem;
  white-space: nowrap;
  text-transform: uppercase;
}
