// background colors, borders:
$main-header-bg-color: #1c1c1c;
$primary-btn-border: 1px solid #676767;
$primary-btn-border-radius: 5rem;
$hero-gradient-bg: linear-gradient(135deg, #0f0f0f 0%, #2a2a2a 50%, #0f0f0f 100%);

// fonts:
$primary-txt-color: #ffffff;

// hover effects:

$primary-btn-hover: #647dff;
