@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;
@use "../layout/global" as *;
@use "../animations/hovers" as *;

/* ----------------- GAME INFO  ----------------- */
.games-info {
  width: 100%;
  background-color: $primary-section-bg-color;
  padding: 4rem 2rem;
  @include flex(center, center, column, 3rem);

  .headings {
    @include flex(center, center, column, 1.2rem);
    & h2 {
      text-align: center;
      font-family: "Oswald-Medium";
      font-size: clamp-rem(3rem, 4.4rem);
      color: $secondary-dark-txt-color;
    }
    & p {
      text-align: center;
      font-family: "Geist-Regular";
      font-size: clamp-rem(1.4rem, 1.8rem);
      color: $secondary-light-txt-color;
    }
  }

  //   Article containers:

  .articles {
    @include flex(center, center, column, 2.4rem);
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
    padding: 2.4rem;
    .game-info {
      width: 100%;
      max-width: 27.9rem;
      @include flex(center, center, column, 1.2rem);
      background-color: $card-bg-color;
      border-radius: 2rem;
      & .img {
        width: 100%;
        & img {
          width: 100%;
          border-radius: 2rem 2rem 0 0;
          max-height: auto;
        }
      }
      & .content {
        padding: 0 1.4rem 2.4rem 1.4rem;
        @include flex(center, center, column, 1.2rem);
        & h3 {
          text-align: center;
          font-family: "Geist-SemiBold";
          font-size: 1.8rem;
          color: $secondary-dark-txt-color;
        }
        & p {
          text-align: center;
          font-family: "Geist-Regular";
          font-size: 1.4rem;
          color: $article-dark-color;
        }
      }
    }
  }
}
