@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;
@use "../layout/global" as *;
@use "../animations/hovers" as *;

/* ----------------- GAME INFO  ----------------- */
.games-info {
  width: 100%;
  background-color: $primary-section-bg-color;
  padding: 4rem 2rem;
  @include flex(center, center, column, 3rem);

  .headings {
    @include flex(center, center, column, 1.2rem);
  }

  //   Article containers:

  .articles {
    @include flex(center, center, column, 2.4rem);
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
    padding: 2.4rem;
    .game-info {
      width: 100%;
      max-width: 27.9rem;
      @include flex(center, center, column, 1.2rem);
      background-color: $card-bg-color;
      border-radius: 2rem;
      & .img {
        width: 100%;
        & img {
          width: 100%;
          border-radius: 2rem 2rem 0 0;
          max-height: auto;
        }
      }
      & .content {
        padding: 2.4rem;
        @include flex(center, center, column, 1.2rem);
      }
    }
  }
}
