@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;
@use "../layout/global" as *;

/* ----------------- HEADER  ----------------- */
header {
  width: 100%;
  padding: 2rem;
  background-color: $main-header-bg-color;

  .header-container {
    width: 100%;
    @include flex(flex-start, stretch, column, 2rem);
    .top-header {
      width: 100%;
      @include flex(space-between, center);
      padding-bottom: 1rem;
      border-bottom: $primary-btn-border;

      & a img {
        height: 4rem;
      }
    }

    .account-center {
      @include flex(center, center, row, 1rem);

      .account-access {
        @include flex(center, center, row, 1rem);
      }
    }
    .navigation {
      width: 100%;
      ul {
        @include flex(flex-start, center, row, 2rem);
        width: 100%;
        overflow-x: auto;
        &::-webkit-scrollbar {
          display: none;
        }

        & li {
          list-style: none;
          flex: 0 0 auto;
          & a {
            white-space: nowrap;
            color: $primary-txt-color;
            font-size: clamp-rem(1.8rem, 2.8rem);
            font-family: "Oswald-Regular";
          }
        }
      }
    }

    //  responsive styles
    @media (min-width: 1280px) {
      @include flex(space-between, center, row);
      .top-header {
        display: contents;
      }
      .logo-container {
        order: 1;
      }
      // navigation should be between logo and  account-center container
      .navigation {
        order: 2;
        flex: 1;
        display: flex;
        justify-content: center;
        & ul {
          @include flex(center, center, row, 2rem);
          overflow: visible;
        }
      }
      .account-center {
        order: 3;
      }
    }
  }
}
