@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;
@use "../layout/global" as *;
@use "../animations/hovers" as *;

.why-us {
  width: 100%;
  background-color: $secondary-section-bg-color;
  padding: 4rem 2rem;
  @include flex(center, center, column, 3rem);

  & .headings {
    @include flex(center, center, column, 1.2rem);
  }
  & .content {
    @include flex(center, flex-start, column, 2.4rem);
    padding: 2.4rem;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }

    & .card {
      background-color: $card-bg-color;
      padding: 2.5rem 2rem;
      width: 100%;
      max-width: 59.7rem;
      @include flex(flex-start, flex-start, column, 1.2rem);
      border-radius: 0.8rem;
    }
  }
}
