@font-face {
  font-family: "LeagueGothic-Regular";
  font-display: swap;
  src: url("../fonts/LeagueGothic-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Oswald-Bold";
  font-display: swap;
  src: url("../fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Oswald-Medium";
  font-display: swap;
  src: url("../fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Oswald-Regular";
  font-display: swap;
  src: url("../fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Oswald-SemiBold";
  font-display: swap;
  src: url("../fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Geist-Regular";
  font-display: swap;
  src: url("../fonts/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Geist-SemiBold";
  font-display: swap;
  src: url("../fonts/Geist-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Geist-Medium";
  font-display: swap;
  src: url("../fonts/Geist-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Geist-ExtraBold";
  src: url("../fonts/Geist-ExtraBold.ttf") format("truetype");
}
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.button-login {
  padding: 1rem 2rem;
  white-space: nowrap;
  border: 1px solid #676767;
  border-radius: 5rem;
  color: #ffffff;
  font-family: "Oswald-Regular";
  font-size: clamp(1rem, 11.4285714286px + 1.4285714286vw, 2rem);
  transition: all 0.3s ease;
}
.button-login:hover {
  background-color: #647dff;
}

.step-btn {
  border-radius: 5rem;
  padding: 1.5rem 3.5rem;
  background: transparent;
  color: #5c63ff;
  text-decoration: underline;
  transition: all 0.3s ease;
}
.step-btn:hover {
  background-color: #5c63ff;
  color: #ffffff;
  text-decoration: none;
}

.fdb-cta,
.cta {
  width: 100%;
  padding: 0.8rem 6.9rem;
  color: #ffffff;
  background-color: #647dff;
  cursor: pointer;
  border-radius: 2rem;
  font-family: "Oswald-Medium";
  font-size: 1.8rem;
  white-space: nowrap;
  text-transform: uppercase;
}

.info-img,
.img-div {
  padding: 0.9rem;
  border-radius: 0.8rem;
  background-color: rgba(92, 99, 255, 0.25);
  border: 1px solid #5c63ff;
}

body {
  width: 100%;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

main {
  width: 100%;
}

/* ------------------ NAVIGATION SECTION ------------------ */
.navigation-section {
  padding: 2.4rem 0;
  width: 100%;
  background-color: #ffffff;
}
.navigation-section .nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 4rem;
  overflow-x: auto;
  padding: 0 1.6rem;
}
.navigation-section .nav-container::-webkit-scrollbar {
  display: none;
}
.navigation-section .nav-container .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.2rem;
  flex: 0 0 auto;
}
.navigation-section .nav-container .info .info-img {
  flex-shrink: 0;
}
.navigation-section .nav-container .info .description {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
}
.navigation-section .nav-container .info .description h4 {
  white-space: nowrap;
  font-family: "Geist-Medium";
  font-size: clamp(1.2rem, 18.2857142857px + 0.2857142857vw, 1.4rem);
  color: #1d1d1d;
}
.navigation-section .nav-container .info .description p {
  white-space: nowrap;
  font-family: "Geist-Regular";
  color: #8a8a8a;
  font-size: clamp(1rem, 15.0857142857px + 0.2857142857vw, 1.2rem);
}
@media (min-width: 1024px) {
  .navigation-section .nav-container {
    justify-content: center;
  }
}

input {
  border: 1px solid #676767;
  outline: none;
  color: #6f6f6f;
  padding: 1.8rem 1.3rem;
  border-radius: 2rem;
}

input::placeholder {
  font-family: "Geist-Regular";
  color: #6f6f6f;
  font-size: 1.4rem;
}

.hero-form {
  width: 100%;
  max-width: 49.8rem;
  background-color: #ffffff;
  border-radius: 2rem;
  padding: 2.7rem 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.hero-form .form-heading {
  font-family: "Oswald-Medium";
  font-size: clamp(2.6rem, 40.6857142857px + 0.2857142857vw, 2.8rem);
  color: #1c1c1c;
  letter-spacing: 0;
  white-space: nowrap;
}
.hero-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.hero-form form .first-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.hero-form form .first-row input {
  flex: 1;
  min-width: 0;
}
.hero-form form .full-row {
  width: 100%;
}
.hero-form form .full-row input {
  width: 100%;
}
.hero-form form .buttons-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.hero-form form .buttons-row button {
  flex: 1;
  min-width: 0;
}
.hero-form form .buttons-row {
  font-size: 2rem;
  font-family: "Oswald-Medium";
}

.nav_a {
  transition: all 0.3s ease;
}
.nav_a:hover {
  text-decoration: underline;
  color: #5c63ff !important;
}

.section-heading {
  text-align: center;
  font-family: "Oswald-Medium";
  font-size: clamp(3rem, 41.6px + 2vw, 4.4rem);
  color: #1d1d1d;
}

.section-sub-heading {
  text-align: center;
  font-family: "Geist-Regular";
  font-size: clamp(1.4rem, 20.5714285714px + 0.5714285714vw, 1.8rem);
  color: #8a8a8a;
}

.card-heading {
  text-align: center;
  white-space: nowrap;
  font-family: "Geist-SemiBold";
  font-size: 1.8rem;
  color: #1d1d1d;
}

.card-description {
  text-align: center;
  font-family: "Geist-Regular";
  font-size: 1.4rem;
  color: #3c3c3e;
}

.card-span {
  font-family: "Oswald-SemiBold";
  font-size: 1.6rem;
  color: #5c63ff;
}

.fdb-heading {
  font-family: "Geist-SemiBold";
  font-size: 1.8rem;
  color: #1d1d1d;
}

.left_align_p {
  font-family: "Geist-Regular";
  font-size: 1.4rem;
  color: #3c3c3e;
}

.white-section-heading {
  font-family: "Oswald-Medium";
  font-size: clamp(3rem, 41.6px + 2vw, 4.4rem);
  color: #ffffff;
  text-align: center;
}

.white-section-sub-heading {
  font-family: "Oswald-Medium";
  font-size: clamp(1.4rem, 20.5714285714px + 0.5714285714vw, 1.8rem);
  color: #ffffff;
  text-align: center;
}

.jackpot-name {
  font-size: 1.8rem;
  font-family: "Geist-SemiBold";
  color: #1d1d1d;
}

.jackpot-amount {
  font-size: 4.4rem;
  font-family: "Geist-ExtraBold";
  color: #5c63ff;
}

.feedback-text {
  font-family: "Geist-Regular";
  font-size: 1.4rem;
  color: #3c3c3e;
}

.profile {
  font-family: "Oswald-SemiBold";
  font-size: 1.6rem;
  color: #ffffff;
}

.name {
  font-family: "Geist-Medium";
  color: #1d1d1d;
  font-size: 1.4rem;
}

.account-info {
  font-family: "Geist-Regular";
  color: #8a8a8a;
  font-size: 1.2rem;
}

.why-us-heading {
  font-family: "Geist-SemiBold";
  font-size: clamp(2rem, 30.1714285714px + 0.5714285714vw, 2.4rem);
  color: #1d1d1d;
}

.left-p {
  font-family: "Geist-Regular";
  text-align: left;
  font-size: 1.4rem;
  color: #5a5a5a;
}

/* ----------------- HEADER  ----------------- */
header {
  width: 100%;
  padding: 2rem;
  background-color: #1c1c1c;
}
header .header-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 2rem;
}
header .header-container .top-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #676767;
}
header .header-container .top-header a img {
  height: 4rem;
}
header .header-container .account-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
header .header-container .account-center .account-access {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
header .header-container .navigation {
  width: 100%;
}
header .header-container .navigation ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  overflow-x: auto;
}
header .header-container .navigation ul::-webkit-scrollbar {
  display: none;
}
header .header-container .navigation ul li {
  list-style: none;
  flex: 0 0 auto;
}
header .header-container .navigation ul li a {
  white-space: nowrap;
  color: #ffffff;
  font-size: clamp(1.8rem, 24.2285714286px + 1.4285714286vw, 2.8rem);
  font-family: "Oswald-Regular";
}
@media (min-width: 1280px) {
  header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  header .header-container .top-header {
    display: contents;
  }
  header .header-container .logo-container {
    order: 1;
  }
  header .header-container .navigation {
    order: 2;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  header .header-container .navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    overflow: visible;
  }
  header .header-container .account-center {
    order: 3;
  }
}

/* ----------------- Hero  ----------------- */
.hero-section {
  width: 100%;
  height: 100%;
  padding: 7rem 2.2rem;
  background: linear-gradient(135deg, #0f0f0f 0%, #2a2a2a 50%, #0f0f0f 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
}
.hero-section .headings {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 60rem;
}
.hero-section .headings h1 {
  font-size: clamp(2rem, -24.6857142857px + 17.7142857143vw, 14.4rem);
  color: #ffffff;
  font-family: "LeagueGothic-Regular";
  line-height: 0.85;
  text-wrap: balance;
  text-transform: uppercase;
}
.hero-section .headings h2 {
  width: 18ch;
  font-size: clamp(1.8rem, 6.8571428571px + 6.8571428571vw, 6.6rem);
  color: #e6be8a;
  font-family: "LeagueGothic-Regular";
  line-height: 0.95;
  text-transform: uppercase;
}
.hero-section img {
  width: clamp(10rem, 66.2857142857px + 29.2857142857vw, 30.5rem);
  position: absolute;
  right: 0;
  bottom: -8rem;
}
@media (min-width: 1024px) {
  .hero-section {
    flex-direction: row;
    gap: 2.5rem;
  }
}

/* -------------- FDB BONUSES SECTION  -------------- */
.fdb-bonuses {
  width: 100%;
  background-color: #f5f5f7;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.fdb-bonuses .headings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}
.fdb-bonuses .articles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem;
}
.fdb-bonuses .articles-container .fdb-information {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  max-width: 36.8rem;
  position: relative;
  background-color: #ffffff;
  border: 1px solid #e8e8ed;
  padding: 9.4rem 3rem 2.5rem 3rem;
}
.fdb-bonuses .articles-container .fdb-information .img-div {
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
}
.fdb-bonuses .articles-container .fdb-information .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.6rem;
}
@media (min-width: 768px) {
  .fdb-bonuses .articles-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.sports-book {
  width: 100%;
  background-color: #f5f5f7;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.sports-book .headings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}
.sports-book .articles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem;
}
@media (min-width: 768px) {
  .sports-book .articles-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.sports-book .articles-container .sports-book-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  max-width: 36.8rem;
  position: relative;
  background-color: #ffffff;
  border: 1px solid #e8e8ed;
  padding: 9.4rem 3rem 2.5rem 3rem;
}
.sports-book .articles-container .sports-book-info .img-div {
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
}
.sports-book .articles-container .sports-book-info .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.6rem;
}

/* ----------------- GAME INFO  ----------------- */
.games-info {
  width: 100%;
  background-color: #f5f5f7;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.games-info .headings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}
.games-info .articles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
}
@media (min-width: 768px) {
  .games-info .articles {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.games-info .articles {
  padding: 2.4rem;
}
.games-info .articles .game-info {
  width: 100%;
  max-width: 27.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #ffffff;
  border-radius: 2rem;
}
.games-info .articles .game-info .img {
  width: 100%;
}
.games-info .articles .game-info .img img {
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  max-height: auto;
}
.games-info .articles .game-info .content {
  padding: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}

.featured-games {
  width: 100%;
  background-color: #e8e8ed;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.featured-games .headings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}
.featured-games .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem;
}
@media (min-width: 768px) {
  .featured-games .content {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.featured-games .content .featured-game {
  width: 100%;
  max-width: 27.9rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #ffffff;
  border-radius: 2rem;
}
.featured-games .content .featured-game img {
  border-radius: 2rem 2rem 0 0;
}
.featured-games .content .featured-game .description {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 0 1.6rem 1.6rem;
}

.hot-drop-jackpot {
  width: 100%;
  padding: 4rem;
  background-image: url("../images/hot-drop-jackpot-bg-img.png");
}
.hot-drop-jackpot .jackpot-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.hot-drop-jackpot .jackpot-wrapper .jackpot-headings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.hot-drop-jackpot .jackpot-wrapper .jackpot-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 768px) {
  .hot-drop-jackpot .jackpot-wrapper .jackpot-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.hot-drop-jackpot .jackpot-wrapper .jackpot-cards .card {
  width: 100%;
  padding: 5.1rem 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #bbbbbb;
  border-radius: 1rem;
  width: clamp(34.8rem, 547.6571428571px + 2.8571428571vw, 36.8rem);
}

.feedbacks {
  width: 100%;
  background-color: #f5f5f7;
  padding: 6.4rem 14.4rem;
}
.feedbacks .feedbacks-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.feedbacks .feedbacks-wrapper .headings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.feedbacks .feedbacks-wrapper .feedback-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .feedbacks .feedbacks-wrapper .feedback-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.feedbacks .feedbacks-wrapper .feedback-cards .feedback {
  width: clamp(34.8rem, 547.6571428571px + 2.8571428571vw, 36.8rem);
  background-color: #ffffff;
  padding: 2.7rem;
  border-radius: 1rem;
  border: 1px solid #e8e8ed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.feedbacks .feedbacks-wrapper .feedback-cards .feedback .ratings {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.feedbacks .feedbacks-wrapper .feedback-cards .feedback .ratings .stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.feedbacks .feedbacks-wrapper .feedback-cards .feedback .ratings .stars img {
  fill: #5c63ff;
}
.feedbacks .feedbacks-wrapper .feedback-cards .feedback .author {
  width: 100%;
  padding-top: 2rem;
  border-top: solid 1px #e8e8ed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1.1rem;
}
.feedbacks .feedbacks-wrapper .feedback-cards .feedback .author .profile {
  background-color: #5c63ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 5rem;
  padding: 1rem 1.2rem;
}
.feedbacks .feedbacks-wrapper .feedback-cards .feedback .author .author-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.1rem;
}

.why-us {
  width: 100%;
  background-color: #e8e8ed;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.why-us .headings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}
.why-us .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem;
}
@media (min-width: 768px) {
  .why-us .content {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.why-us .content .card {
  background-color: #ffffff;
  padding: 2.5rem 2rem;
  width: 100%;
  max-width: 59.7rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.2rem;
  border-radius: 0.8rem;
}

/*# sourceMappingURL=styles.css.map */
